* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  background: url(/resources/css/img/background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 0 10px;
}

.nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1140px;
  margin: 0 auto;
}

.nav .logo {
  height: 50px;
}

.nav .cart {
  height: 50px;
}

nav {
  align-self: flex-end;
  margin-right: 260px;
  margin-bottom: 15px;
}

/* nav ul {
  border: 1px solid red;
} */

nav ul li {
  display: inline-block;
  list-style: none;
  padding-right: 50px;
  letter-spacing: 3px;
}

li a {
  text-decoration: none;
}

.info {
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(-40%, -28%);
}

.btn {
  text-decoration: none;
  background: linear-gradient(45deg, #e99cf3, #bc92ff);
  color: #fff;
  padding: 9px 20px;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 3px 8px 22px #dddddde1;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  margin: 20px 0 10px;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.info p {
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.arrow-icon {
  margin: 40px 0;
}
.arrow-icon img {
  width: 40px;
  margin-right: 20px;
}

.feature-img {
  position: absolute;
  height: 90vh;
  bottom: -170px;
  right: -590px;
  z-index: -1;
}

.social-link {
  position: absolute;
  transform: rotate(-90deg);
  top: 60%;
  left: -130px;
}

.social-link a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-transform: uppercase;
}
